@import "tailwindcss";

@theme inline {
  --font-display: var(--font-josefin-sans);
  --font-body: var(--font-ubuntu);

  --color-cream: #f7f6f3;
  --color-sand: #f2ece6;
  --color-ink: #2b2926;
  --color-accent: #c08552;
  --color-accent-soft: #d9a97c;
}